
/*-----------------------nav------------------*/
#nav1{
	width:1202px;
	height:40px;
	box-sizing:border-box;
	margin:0 auto;
	position: relative;
	z-index:100;
	background:#fff;
}

/*--------------type_list---------------*/
#type_list1{
	width:190px;
	box-sizing:border-box;
	color:#fff;
	font-size:16px;
	float:left;
	z-index:99;
	overflow:hidden;
	position:absolute;
}
#type_list1 >li{
	background:#fa3778;
	width:100%;
	height:52px;
	line-height:53px;
	border-top:1px dashed #fff;
	box-sizing: border-box;
	position:relative;
	z-index:100;
	display:none;
}

#type_list1> li:first-child{
	height:36px;
	line-height:36px;
	background:#333333;
	border:0;
	display:block;
}

#type_list1> li >em:first-child{
	margin:0 15px;
}

#type_list1 > li > em:nth-child(3){
	position:absolute;
	right:20px;
}

/*----------------#special_list------------------*/
#special_list1{
	width:1000px;
	position:absolute;
	left:100px;
}
#special_list1 > li{
	float:left;
	margin:0 21px;
	font-size:16px;
	line-height:36px;
	position:relative;
	z-index:99;
	top:0px;
	left:80px;
}
#special_list1 >li> a >#hot{
	height:15px;
	line-height:15px;
	font-size:12px;
	color:#fff;
	background:#ed4581;
	position: absolute;
	top:5px;
}
#special_list1 >li:last-child em{
	font-size:16px;
	font-style:normal;
	color:#080808;
}

/*小列表*/
#sList{
	width:1200px;
	height:50px;
	margin:0 auto;
}
#sList > ul > li{
	float:left;
}
#sList > ul > li >a{
	padding:0 5px;
	line-height:50px;
	font-size:12px;
}


/*---------main----------*/
#main{
	width:1200px;
	height:840px;
	background:#fff;
	margin:0 auto;
}

#m_top{
	width:1200px;
	height:60px;
	background:#fff;
	line-height:60px;
}

#m_top > span{
	padding-left:15px;
	line-height:60px;
	font-size:24px;
	color:#fff;
	float:left;
}
#m_top > span > em{
	font-size:24px;
}

.timer{
	line-height:60px;
	font-size:24px;
	color:#fff;
	float:left;
	margin-left:100px;
}

#product{
	width:1200px;
	height:780px;
	position:relative;
}

.bigpic{
	width:400px;
	height:300px;
	position:absolute;
	top:165px;
	left:562px;
	border:1px solid #D1D1D1;
	z-index:1000;
	overflow: hidden;
	display:none;
	
}
.bigpic img{
	position:absolute;
}





#Imgbox{
	width: 560px;
	height: 780px;
	overflow: hidden;
	float:left;
	box-sizing: border-box;
}
#Imgtop{
	position: relative;
	height: 485px;
}


#proImg1{
	width:100%;
	height:490px;
	background:#fff;
	position: absolute;
	top: 0;
	left: 0;
	
}

#discount{
	width:108px;
	height:108px;
	background:#ed3394;
	border-radius: 50%;
	margin-top:10px;
	margin-left:35px;
	line-height:108px;
	text-align:center;
	font-size:28px;
	color:#fff;
	font-style:italic;
}

.small-pic{
	position:relative;
	width:220px;
	height:260px;
	margin-left:100px;
	margin-top:20px;
}
.small-pic> img,.mark{
	width:220px;
	height:260px;
}

.mark{
	position:absolute;
	top:0px;
	left:0;
	width:220px;
	height:260px;
	background:#000;
	opacity:0;
	z-index:10000;
}
.float_layer{
	width:160px;
	height:140px;
	background: pink;
	opacity: 0.2;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10001;
}


#proImg1 > img:hover{
	width:220px;
	height:260px;
	margin-left:150px;
	margin-top:30px;
	
}
#proImg1 > a{
	float:right;
	margin-right:40px;
	margin-top:30px;
	color:#424242;
}


#Kacro{
	margin-top:50px;
	margin-left:35px;
	color:#5E5E5E;
}
#Kacro > img{
	float:left;
	margin-right:15px;
}



#left{
	position: absolute;
	width: 50px;
	top: 0;
	left: 0;
	height: 50px;
	z-index: 1000;
}
#right{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	right: 0;
	z-index: 1000;
}
#btn_l{
	position: absolute;
	background: url(img/btn.gif) no-repeat;
	height: 30px;
	width: 30px;
	left: 10px;
	top: 130px;
	z-index: 1001;
	opacity: 0;
	filter: alpha(opacity=0);
}
#btn_r{
	position: absolute;
	background: url(img/btn.gif) no-repeat 0 -60px;
	height: 30px;
	width: 30px;
	right: 10px;
	top: 130px;
	z-index: 1001;
	opacity: 0;
	filter: alpha(opacity=0);
}
#Imgbottom{
	position: relative;
	
}
#small_ul{
	position: absolute;
	top: 10px;
	left: 0;
}
#small_ul li{
	float: left;
}
#small_ul img{
	height: 110px;
	width: 110px;
	padding: 5px;
}
/*#small_ul img:hover{
	height: 110px;
	width: 110px;
	padding: 5px;
	border:3px solid rgba(165,0,0,0.5);
	
}*/


#proWord{
	width:640px;
	height:780px;
	background:#fff;
	float:left;
}

#proWord1{
	height:255px;
	border-bottom: 1px solid #C0C0C0;
	padding:25px;
	box-sizing: border-box;
}
#proWord1 p{
	font-size:20px;
	color:#81807c;
	line-height:26px;
}

#proWord1 div{
	margin-top:22px;
}

#proWord1 div span{
	font-size:14px;
	color:#fff;
	line-height:20px;
	background:#eb3e90;
	margin-right:10px;
	padding:0 10px;
}

#proWord1 div i{
	font-style:normal;
	font-size:18px;
	color:#fff;
	line-height:20px;
	line-height:30px;
}

#proWord1 ul{
	margin-top:20px;
}

#proWord1 ul li{
	float:left;
	line-height:20px;
	margin-right:10px;
}

#proWord1 ul li a{
	font-size:12px;
	color:#c79a63;
	border:1px solid #c79a63;
	padding:0 10px;
	border-radius:4px;
}

#proWord1 ul li a:hover{
	color:#eb3e90;
	border:1px solid #eb3e90;
}






#proWord2{
	height:150px;
	border-bottom: 1px solid #C0C0C0;
	padding:14px 25px;
	box-sizing: border-box;
	position: relative;
	z-index:100;
}
#proWord2 div{
	line-height:32px;
}

#proWord2 div span{
	font-size:14px;
	color:#a2979b;
	margin-right:20px;
}

#proWord2 div i{
	font-style: normal;
	font-size:14px;
	color:#392b44;
	
}
#proWord2 div i em{
	font-size:14px;
	color:#e33d7b;
}

#opt{
	width:350px;
	height:60px;
	background: #fff;
	border:1px solid #C0C0C0;
	margin-left:55px;
	display:none;
	padding:0 15px;
	box-sizing: border-box;
	position: absolute;
	z-index:1000;
}

#i3:hover #opt{
	display:block;
}

#proWord3{
	height:375px;
	padding:20px;
	box-sizing: border-box;
}
#proWord3 p{
	display: inline-block;
	height:20px;
	width:68px;
	border:1px solid #ddd;
	padding-top:0px;
}
#proWord3 p span{
	display:inline-block;
	width:20px;
	height:20px;
	background:#ddd;
	text-align: center;
}

#divp2{
	width:285px;
	height:50px;
	margin-top:25px;
}
#divp2-1{
	color:#848e86;
	font-size:14px;
}
#divp2-2{
	color:#ec3e7d;
	font-size:28px;
	font-weight: 900;
	margin:0 10px;
}
#divp2-3{
	color:#848e86;
	font-size:14px;
	text-decoration: line-through;
}
#divp3{
	margin-top:20px;
	position:relative;
}

#divp3 > input{
	width:220px;
	height:50px;
	background:#ec3e7d;
	margin-right:20px;
	border:0;
	font-size:16px;
	color:#fff;
}

#divp3 > div{
	float:left;
	width:200px;
	position:absolute;
	left:250px;
	top:0;
}

#divp3 > div >input{
	width:200px;
	height:50px;
	border:1px solid #ddd;
	background:0;
	box-sizing: border-box;
	color:#C0C0C0;
	font-size:16px;
}

#divimg img{
	display:none;
	position:absolute;
	top:-200px;
	z-index:1000;
} 

#divp4{
	margin-top:55px;
	height:20px;
	font-size:14px;
}
#divp4 span{
	color:#c99f65;
	font-size:16px;
}
#divp5{
	margin-top:30px;
	height:20px;
	font-size:14px;
	clear:both;
}
#divp5 a{
	float:left;
	margin-right:300px;
}
#share{
	float:left;
}
#share span{
	padding:0 5px;
	cursor: pointer;
}



/*猜您喜欢*/
#gussH4{
	width:1200px;
	height:58px;
	line-height:58px;
	font-size:20px;
	font-weight:900;
	margin:30px auto 0;
}

#guss{
	width:1200px;
	height:330px;
	background:#ECECEC;
	margin:0 auto;
}
#guss > li{
	width:230px;
	height:330px;
	background:#fff;
	float:left;
	padding:15px;
	box-sizing: border-box;
	margin-right:12px;
	position:relative;
}
#guss > li:nth-child(5){
	margin-right:0px;
}


#guss img{
	width:200px;
	height:200px;
}

#guss dl dt{
	position:relative;
}
#gussMark{
	width:230px;
	height:230px;
	background:#FFF;
	opacity:0.5;
	position:absolute;
	left:-15px;
	top:-15px;
	display:none;
}
#guss dl dd{
	margin-top:20px;
	height:40px;
	font-size:14px;
}

#guss p{
	line-height:40px;
	color:#e43b76;
	font-size:22px;
}

#guss dl dt:hover #gussMark{
	display:block;
}





/*浏览记录*/
#scan{
	width:255px;
	height:600px;
	background:#fff;
	margin:30px 25px 0 75px;
}
#scan h3{
	line-height:50px;
	height:50px;
	border-bottom:1px solid #C0C0C0;
	border-left:5px solid #c79965;
	font-size:16px;
	color:#505d63;
	padding-left:20px;
	box-sizing: border-box;
}
#scan li a{
	width:255px;
	height:111px;
	padding:15px;
	box-sizing: border-box;
}
#scan img{
	width:85px;
	height:85px;
	float:left;
}
#scanWord{
	float:left;
	width:165px;
	height:80px;
	margin-top:10px;
}
#scanWord span{
	color:#e59728;
	margin-right:10px;
}
#scanWord span:nth-child(4){
	color:#000;
	margin-right:10px;
}
#scanWord span:nth-child(5){
	color:#000;
	margin-right:10px;
}

#scanPrice{
	margin-top:10px;
}
#scanPrice span:nth-child(1){
	color:#ee60ac;
	margin-right:50px;
}
#scanPrice span:nth-child(2){
	color:#C0C0C0;
	margin-right:50px;
	text-decoration: line-through;
}



#SDR{
	width:920px;
	height:1505px;
	margin-left:355px;
	margin-top:-600px;
}


/*楼梯横向*/
#loutih{
	width:920px;
	height:50px;
	background:#fff;
}
#loutih span{
	margin:0 28px;
	line-height:50px;
	font-size:16px;
	color:#555c67;
}

#loutih em{
	margin-left:330px;
	line-height:50px;
	font-size:20px;
	color:#ec3e7d;
}

#loutih input{
	width:120px;
	height:50px;
	margin-left:55px;
	line-height:50px;
	font-size:18px;
	color:#fff;
	background:#ec3e7d;
	border:0;
}



#specs{
	width:920px;
	height:250px;
	background:#fff;
	margin-top:25px;
	padding:20px 60px 0 0;
	box-sizing: border-box;
}

#specs1{
	width:862px;
	height:32px;
	border-left:3px solid #db3f7e;
	box-sizing: border-box;
	line-height:30px;
	font-size:20px;
	padding-left:12px;
	box-sizing: border-box;
}

#specs1 span{
	margin-left:20px;
	color:#db3f7e;
}

#specs1 hr{
	width:640px;
	height:2px;
	margin-left:200px;
	margin-top:-15px;
	background:#db3f7e;
}

#specsWord{
	height:195px;
	padding:30px 40px;
}

#specsWord li{
	height:38px;
}

#specsWord li span{
	line-height:38px;
	color:#6C6C6C;
	font-size:14px;
}

#specsWord li span:nth-child(1){
	margin-right:185px;
}



#details{
	width:920px;
	height:660px;
	background:#fff;
	margin-top:25px;
	padding:20px 60px 0 0;
	box-sizing: border-box;
}

#detailsWord{
	width:920px;
	height:610px;
	padding:30px;
	box-sizing: border-box;
}
#details1{
	color:#000;
	font-size:14px;
}
#details1 h4{
	padding-left:10px;
	color:#000;
	font-size:14px;
	font-weight: 900;
}
#details1 h5{
	color:#000;
	font-size:14px;
	font-weight: 900;
}

#details1 p{
	margin-top:30px;
	margin-top:30px;
	line-height:25px;
}

#details2{
	margin-top:30px;
}

#details2 p{
	line-height:25px;
}

#details3{
	margin-top:30px;
}

#details3 p{
	line-height:25px;
}

#details4{
	margin-top:30px;
}

#details4 p{
	line-height:25px;
}

#reviews{
	width:920px;
	height:470px;
	background:#fff;
	margin-top:25px;
	padding:20px 60px 0 0;
	box-sizing: border-box;
}

#reviews #star{
	margin-top:50px;
	margin-left:25px;
}
#star span:nth-child(1){ 
	color:#db3f7e;
	font-size:25px;
}

#star span:nth-child(2){ 
	color:#c29b60;
	font-size:20px;
	margin-left:30px;
}


#pingjia{
	width:752px;
	height:195px;
	background:#E6E6E6;
	box-sizing:border-box;
	margin-left:25px;
	margin-top:30px;
}

#pjPic{
	width:130px;
	height:195px;
	float:left;
	background:#fff;
}

#pjPic h3{
	margin-top:50px;
	margin-left:45px;
	width:40px;
	height:40px;
	background:#C8C8C8;
	border-radius:50%;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
#pjPic h4{
	font-size:14px;
	line-height:25px;
	text-align:center;
}
#pjPic h5{
	font-size:14px;
	line-height:25px;
	text-align:center;
}
#pjPic p{
	font-size:14px;
	line-height:25px;
	text-align:center;
}

#pjWord{
	width:620px;
	height:195px;
	float:left;
}

#star1{
	height:50px;
	border-bottom:1px solid #db3f7e;
	line-height:50px;
	font-size:18px;
}
#star1 span:nth-child(1){
	margin-right:218px;
	color:#db3f7e;
}

#star1 span:nth-child(2){
	color:#c29b60;
	font-size:18px;
}

#pjWord p{
	line-height:60px;
	font-size:16px;
	color:#6C6C6C;
	padding-left:30px;
}
